<footer class="down-footer">
    <div class="nav-foot">
        <ul>
            <li><p><i class="fas fa-map-marker-alt"></i>&nbsp;8/208, street, India</p></li>
            <li><p><i class="fas fa-phone"></i>&nbsp;9876543201</p></li>
            <li><p><i class="fas fa-envelope-square"></i>&nbsp;gmail@gmail.com</p></li>
        </ul>
        <ul>
            <li><p>About the Company</p></li>
            <li><p>Software solutions is a leading innovator</p></li>
            <li><p><i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-github"></i></p></li>
        </ul>
    </div>
    <div class="last-foot">
        <li>Thank You &copy;</li>
    </div>
</footer>
